div {
    background-color: #f0efe9;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    
    button {
        background-color: #50e3a4;
        outline: none;
        border: none;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin-top: -50px;
        margin-bottom: 20px;
        margin-left: calc(50% - 50px);
        color: #0a7b54;
        font-size: 50px;
        &:hover {
            opacity: .85;
            cursor: pointer;
        }
    }
}